body {
    display: flex;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    background-color: #87cefa; 
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
}
.navbar {
    display: flex;
    background-color: #87cefa;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 1498px;
}
.header .container{
    justify-content: space-between;
}

.container img{
    width: 82px;
    height: 63px;
    display: flex;
    justify-content: start;
}