body {
    display: flex;
    background-image: url("../assets/imgs/Background2.jpg");
    margin: 5%;
    padding: 0;
    background-size: cover;
}

.container {
    display: flex;
    background-color: #87cefa;
    flex-direction: row-reverse;
    align-items: center;
    align-content: center;
    margin: auto;
    width: 70%;
    height: 400px;
    padding: 70px;
    border-radius: 25px;
}

.formulario {
    display: flex;
    background-color: #ffffff;
    width: 500px;
    height: 400px;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    border-radius: 25px;
    padding: 50px;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-left: 50px;
}

.container img {
    display: flex;
    width: 500px;
    height: 500px;
    justify-content: space-evenly;
    flex-direction: row;
    justify-items: end;
    border-radius: 25px;
    margin-left: 30px;
}

.formulario input {
    width: 333px;
    height: 30px;
    border-radius: 12px;
}

.formulario button{
    display: flex;
    width: 121px;
    height: 27px;
    background-color: #AADDDD;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-family: "Jost", sans-serif;
    align-self: center;
}