body {
    display: flex;
    background-image: url("../assets/imgs/Background-site.jpg");
    margin: 8%;
    padding: 0;
    background-size: cover;
}

.container {
    display: flex;
    margin: auto;
    width: 750px;
    height: 359px;
    border-radius: 25px;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
    background-color: #ffffff;
    padding: 50px;
}

.login {
    display: flex;
    background-color: #ADD8E6;
    height: 459px;
    margin-left: 125px;
    flex-direction: column;
    border-radius: 25px;
    justify-content: end;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #ffffff;
}

.login button {
    background-color: #87cefa;
    color: white;
    font-style: italic;
    border-radius: 5px;
    width: 121px;
    height: 27px;
    font-family: "Josefin Sans", sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #87cefa;
    align-self: center;
    margin-top: 30px;
    font-size: 15px;
}

.login h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    text-align: center;
    color: #ffffff;
}

.login input {
    display: flex;
    width: 333px;
    height: 30;
    border-radius: 12px;
    background-color: #ffffff;
    border: 1px solid;
}

.login ::placeholder{
    color: #d9d9d9;
    font-style: italic ;
}

.container img {
    display: flex;
    width: 336px;
    height: 243px;
}

.centralizar {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 80px;
}

.centralizar a {
    color: #ffffff;
    font-weight: bolder;
    font-weight: 700;
    font-style: italic;
    margin: 2px;
}